<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>JSPChatPackage.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserBean</servlet-name>
        <servlet-class>JSPChatPackage.CreateUserBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountBean</servlet-name>
        <servlet-class>JSPChatPackage.CreateAccountBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateController</servlet-name>
        <servlet-class>JSPChatPackage.CreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewMessage</servlet-name>
        <servlet-class>JSPChatPackage.NewMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewMessageController</servlet-name>
        <servlet-class>JSPChatPackage.NewMessageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>JSPChatPackage.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PassRecipientIdController</servlet-name>
        <servlet-class>JSPChatPackage.PassRecipientIdController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PopulateFriendsController</servlet-name>
        <servlet-class>JSPChatPackage.PopulateFriendsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnFriendController</servlet-name>
        <servlet-class>JSPChatPackage.UnFriendController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserBean</servlet-name>
        <url-pattern>/CreateUserBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountBean</servlet-name>
        <url-pattern>/CreateAccountBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateController</servlet-name>
        <url-pattern>/CreateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewMessage</servlet-name>
        <url-pattern>/NewMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewMessageController</servlet-name>
        <url-pattern>/NewMessageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PassRecipientIdController</servlet-name>
        <url-pattern>/PassRecipientIdController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PopulateFriendsController</servlet-name>
        <url-pattern>/PopulateFriendsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnFriendController</servlet-name>
        <url-pattern>/UnFriendController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>loginForm.html</welcome-file>
    </welcome-file-list>
</web-app>
